<?xml version="1.0" encoding="UTF-8"?>


<configuration>
    <!-- help : http://logback.qos.ch/manual/appenders.html -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}.%method : %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>kr.debop4j.core.log.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}.%method : %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    -->
    <!--
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>daisy.search.log.txt</file>
        <append>true</append>

        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>daisy.search.log-%d{yyyy-MM-dd}-%i.txt</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}.%method : %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    -->
    <logger name="kr.debop4j.core" level="TRACE"/>
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>