<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M - %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <logger name="kr.debop4j.data" level="trace"/>
        <logger name="twitter4j.internal" level="info"/>
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>