<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd">

    <jdbc:embedded-database id="dataSource" type="HSQL"/>

    <bean id="updateTimestampedInterceptor" class="kr.nsoft.data.hibernate.interceptor.UpdateTimestampedInterceptor"/>

    <bean id="updateTimestampedListener" class="kr.nsoft.data.hibernate.listener.UpdateTimestampedEventListener"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="entityInterceptor" ref="updateTimestampedInterceptor"/>
        <property name="configLocation" value="spring-hibernate.cfg.xml"/>
        <property name="packagesToScan">
            <list>
                <value>org.hibernate.example.domain.model</value>
                <value>org.jpa.example.domain.model</value>
                <value>org.jpa.example.domain.model.collection</value>
                <value>org.jpa.example.domain.model.join</value>
                <value>org.jpa.example.domain.model.joinedSubclass</value>
                <value>org.jpa.example.domain.model.onetomany</value>
                <value>org.jpa.example.domain.model.onetoone</value>
                <value>org.jpa.example.domain.model.subclass</value>
                <value>org.jpa.example.domain.model.unionSubclass</value>
                <value>org.jpa.example.domain.model.usertypes</value>

                <value>org.hibernate.search.model</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="unitOfWorkFactory" class="kr.nsoft.data.hibernate.unitofwork.HibernateUnitOfWorkFactory">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="hibernateDaoFactory" class="kr.nsoft.data.hibernate.repository.HibernateDaoFactory">
    </bean>

    <!-- UnitOfWorkFactory 인스턴스를 UnitOfWorks Singleton의 static field에 설정합니다. -->
    <bean name="unitOfWorkInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="kr.nsoft.data.hibernate.unitofwork.UnitOfWorks.setUnitOfWorkFactory"/>
        <property name="arguments">
            <list>
                <ref bean="unitOfWorkFactory"/>
            </list>
        </property>
    </bean>

</beans>